@import url('https://fonts.googleapis.com/css2?family=Anta&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Pixelify+Sans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --x-color: #fad4db;
    --y-color: #d2facf;
}

body {
    background-image: url(https://images5.alphacoders.com/132/1327980.png);
    animation: fadeIn 1s ease-in both;
    overflow: hidden;
}

div {
    height: 100vh;
    margin: 0;
    font-family: "Madimi One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 6vmin;
    font-family: "Anta", sans-serif;
    text-shadow: 2px 2px 5px #615353;
}

h1 {
    margin: 2vmin;
    font-size: 4.5vmin;
    text-shadow: 1px 1px 3px #615353;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 13vmin);
    grid-template-rows: repeat(3, 13vmin);
    gap: 1vmin;
    background-color: #f9b699;
    margin: 2vmin;
    border-radius: 2vmin;
    padding: 3.5vmin;
    box-shadow: 1vmin 1vmin 1vmin #6f6f6f;
}

#board > button {
    background-color: white;
    border-color: white;
    border-radius: 0.5vmin;
    font-size: 5vmin;
    font-family: inherit;
}

#board > button:hover {
    background-color: #fff8ef;
    border-color: #fff8ef;
}

#c0r0, #c1r0, #c2r0 {
    border-top: none;
}

#c0r0, #c0r1, #c0r2 {
    border-left: none;
}

#c0r2, #c1r2, #c2r2 {
    border-bottom: none;
}

#c2r0, #c2r1, #c2r2 {
    border-right: none;
}

#resetBtn {
    margin-top: 5vmin;
    font-size: 3vmin;
    border-radius: 2vmin;
    border: none;
    padding: 1vmin 2vmin;
    color: black;
    background-color: #ffda8f;
    font-family: inherit;
    box-shadow: 1vmin 1vmin 1vmin #6f6f6f;
}

#resetBtn:hover {
    color: white;
    background-color: pink;
    transform: translateY(-0.5vmin);
}

@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}