@import url('https://fonts.googleapis.com/css2?family=Anta&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Pixelify+Sans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --light-pink: #ffe8ec;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Madimi One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 5vmin;
    font-family: "Anta", sans-serif;
}

h1 {
    margin: 2vmin 2vmin 4vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
    gap: 1vmin;
    background-color: grey;
    margin: 2vmin;
}

#board > button {
    background-color: white;
    border-color: white;
    font-size: 5vmin;
    font-family: "Madimi One", sans-serif;
}

#c0r0, #c1r0, #c2r0 {
    border-top: none;
}

#c0r0, #c0r1, #c0r2 {
    border-left: none;
}

#c0r2, #c1r2, #c2r2 {
    border-bottom: none;
}

#c2r0, #c2r1, #c2r2 {
    border-right: none;
}

#resetBtn {
    margin-top: 5vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    border: none;
    padding: 1vmin 2vmin;
    color: black;
    background-color: #ffda8f;
}

#resetBtn:hover {
    color: white;
    background-color: pink;
}